.textAnchorMiddle {
  text-anchor: middle;
}

.textAnchorEnd {
  text-anchor: end;
}

.letterSpacing {
  letter-spacing: 0.15px;
}

.top-funnel-color {
  stop-color: rgb(235, 235, 235);
}

.second-funnel-color {
  stop-color: rgb(220, 220, 220);
}

.third-funnel-color {
  stop-color: rgb(210, 210, 210);
}

.fourth-funnel-color {
  stop-color: rgb(200, 200, 200);
}

.fifth-funnel-color {
  stop-color: rgb(185, 185, 185)
}

.bottom-funnel-color {
  stop-color: rgb(175, 175, 175);
}

.new-layer-color {
  stop-color: rgb(245, 245, 245);
}

.new-layer-bottom-color {
  stop-color: rgb(155, 155, 155);
}

.fill-color-number {
  fill: #6d6d6d;
}

.fill-color-entries {
  fill: #6d6d6d;
}
